*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* common style */
  .btn{
    font-family: Lato;
    color:white;
    background: #E55473;
    border: none;
    border-radius: 6px;
    padding: 10px 22px;
    margin: 10px 0px;
    font-weight: bolder;

  }

/* common style */

/* header style start here */
.head-container{
    background-color:rgba(229, 84, 115, 0.10);

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:60px 0px 10px 0px;
}
.head-text>h1{
    color: #272727;
    font-family: Lato;
}
.head-text>p{
    margin: 10px 0px;
    font-size: 8px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;

}

.head-img>img{
    width:320px;
    height: 350px;
    margin-bottom: -13.5px;
}
/* header style end here */

/* main style start here */
.signup{
    margin-top: 20px;
    background-color:rgb(218, 158, 98);

    display: flex;
    justify-content: space-around;
    align-items: center;

    text-align: center;
    padding:60px 140px 0px;
}


.img-show{
    padding: 30px 80px;
    /* margin: 0px auto; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.img-show-text{
    text-align: center;
    
}

.only-img{
    display:flex;
    justify-content: center;
    gap: 15px;
}
.only-img img{
    width: 250px;
    display: inline-block;
}

.img-show-input{
   
    background-image: url("Flower Asset/13.png");
   
    width:1045px;
    height: 400px;
    display:flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 auto;
    margin-top:30px;
    text-align: center;
    
}
/* main style end here */